services:

  postgres:
    build: ./db
    restart: unless-stopped
    container_name: trading_postgres
    environment:
      POSTGRES_DB: trading
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    restart: unless-stopped
    image: redis:7
    container_name: trading_redis
    ports:
      - "6379:6379"

  api:
    restart: unless-stopped
    build: ./api
    container_name: trading_api
    depends_on:
      - postgres
      - redis
    env_file:
      - .env
    ports:
      - "8000:8000"

  worker:
    build: ./worker
    restart: unless-stopped
    container_name: trading_worker
    depends_on:
      - postgres
      - redis
    env_file:
      - .env

volumes:
  postgres_data:
